[Unit]
Description=APTiBOT systemd service

[Service]
Type=simple
ExecStart=/opt/APTiBOT/main.py

User=dbot
Group=dbot

[Install]
WantedBy=multi-user.target

[Unit]
Wants=network-online.target
After=network-online.target